ID POP GROUP SEX
HG00403 CHS EAS male
HG00404 CHS EAS female
HG00406 CHS EAS male
HG00407 CHS EAS female
HG00409 CHS EAS male
HG00410 CHS EAS female
HG00419 CHS EAS female
HG00421 CHS EAS male
HG00422 CHS EAS female
HG00428 CHS EAS female
HG00436 CHS EAS male
HG00437 CHS EAS female
HG00442 CHS EAS male
HG00443 CHS EAS female
HG00445 CHS EAS male
HG00446 CHS EAS female
HG00448 CHS EAS male
HG00449 CHS EAS female
HG00451 CHS EAS male
HG00452 CHS EAS female
HG00457 CHS EAS male
HG00458 CHS EAS female
HG00463 CHS EAS male
HG00464 CHS EAS female
HG00472 CHS EAS male
HG00473 CHS EAS female
HG00475 CHS EAS male
HG00476 CHS EAS female
HG00478 CHS EAS male
HG00479 CHS EAS female
HG00500 CHS EAS male
HG00513 CHS EAS female
HG00524 CHS EAS male
HG00525 CHS EAS female
HG00530 CHS EAS male
HG00531 CHS EAS female
HG00533 CHS EAS male
HG00534 CHS EAS female
HG00536 CHS EAS male
HG00537 CHS EAS female
HG00542 CHS EAS male
HG00543 CHS EAS female
HG00556 CHS EAS male
HG00557 CHS EAS female
HG00559 CHS EAS male
HG00560 CHS EAS female
HG00565 CHS EAS male
HG00566 CHS EAS female
HG00580 CHS EAS male
HG00581 CHS EAS female
HG00583 CHS EAS male
HG00584 CHS EAS female
HG00589 CHS EAS male
HG00590 CHS EAS female
HG00592 CHS EAS male
HG00593 CHS EAS female
HG00595 CHS EAS male
HG00596 CHS EAS female
HG00598 CHS EAS male
HG00599 CHS EAS female
HG00607 CHS EAS male
HG00608 CHS EAS female
HG00610 CHS EAS male
HG00611 CHS EAS female
HG00613 CHS EAS male
HG00614 CHS EAS female
HG00619 CHS EAS male
HG00620 CHS EAS female
HG00622 CHS EAS male
HG00623 CHS EAS female
HG00625 CHS EAS male
HG00626 CHS EAS female
HG00628 CHS EAS male
HG00629 CHS EAS female
HG00631 CHS EAS male
HG00632 CHS EAS female
HG00634 CHS EAS male
HG00650 CHS EAS male
HG00651 CHS EAS female
HG00653 CHS EAS male
HG00654 CHS EAS female
HG00656 CHS EAS male
HG00657 CHS EAS female
HG00662 CHS EAS male
HG00663 CHS EAS female
HG00671 CHS EAS male
HG00672 CHS EAS female
HG00674 CHS EAS male
HG00675 CHS EAS female
HG00683 CHS EAS male
HG00684 CHS EAS female
HG00689 CHS EAS male
HG00690 CHS EAS female
HG00692 CHS EAS male
HG00693 CHS EAS female
HG00698 CHS EAS male
HG00699 CHS EAS female
HG00701 CHS EAS male
HG00704 CHS EAS male
HG00705 CHS EAS female
HG00707 CHS EAS male
HG00708 CHS EAS female
HG00717 CHS EAS female
HG00728 CHS EAS male
HG00729 CHS EAS female
HG00759 CDX EAS female
HG00766 CDX EAS female
HG00844 CDX EAS male
HG00851 CDX EAS female
HG00864 CDX EAS female
HG00867 CDX EAS female
HG00879 CDX EAS female
HG00881 CDX EAS male
HG00956 CDX EAS female
HG00978 CDX EAS female
HG00982 CDX EAS male
HG01028 CDX EAS male
HG01029 CDX EAS female
HG01031 CDX EAS male
HG01046 CDX EAS female
HG01595 KHV EAS female
HG01596 KHV EAS male
HG01597 KHV EAS female
HG01598 KHV EAS female
HG01599 KHV EAS female
HG01600 KHV EAS female
HG01794 CDX EAS female
HG01795 CDX EAS female
HG01796 CDX EAS female
HG01797 CDX EAS female
HG01798 CDX EAS female
HG01799 CDX EAS female
HG01800 CDX EAS female
HG01801 CDX EAS female
HG01802 CDX EAS female
HG01804 CDX EAS female
HG01805 CDX EAS female
HG01806 CDX EAS female
HG01807 CDX EAS female
HG01808 CDX EAS female
HG01809 CDX EAS female
HG01810 CDX EAS male
HG01811 CDX EAS male
HG01812 CDX EAS female
HG01813 CDX EAS female
HG01815 CDX EAS female
HG01816 CDX EAS male
HG01817 CDX EAS female
HG01840 KHV EAS male
HG01841 KHV EAS female
HG01842 KHV EAS male
HG01843 KHV EAS female
HG01844 KHV EAS male
HG01845 KHV EAS female
HG01846 KHV EAS male
HG01847 KHV EAS female
HG01848 KHV EAS female
HG01849 KHV EAS male
HG01850 KHV EAS female
HG01851 KHV EAS female
HG01852 KHV EAS male
HG01853 KHV EAS female
HG01855 KHV EAS female
HG01857 KHV EAS female
HG01858 KHV EAS female
HG01859 KHV EAS female
HG01860 KHV EAS male
HG01861 KHV EAS male
HG01862 KHV EAS female
HG01863 KHV EAS female
HG01864 KHV EAS male
HG01865 KHV EAS male
HG01866 KHV EAS male
HG01867 KHV EAS male
HG01868 KHV EAS female
HG01869 KHV EAS female
HG01870 KHV EAS female
HG01871 KHV EAS female
HG01872 KHV EAS male
HG01873 KHV EAS male
HG01874 KHV EAS female
HG01878 KHV EAS female
HG02016 KHV EAS female
HG02017 KHV EAS male
HG02019 KHV EAS female
HG02020 KHV EAS male
HG02023 KHV EAS male
HG02025 KHV EAS female
HG02026 KHV EAS male
HG02028 KHV EAS female
HG02029 KHV EAS male
HG02031 KHV EAS female
HG02032 KHV EAS male
HG02035 KHV EAS male
HG02040 KHV EAS male
HG02047 KHV EAS male
HG02048 KHV EAS female
HG02049 KHV EAS female
HG02050 KHV EAS male
HG02057 KHV EAS female
HG02058 KHV EAS male
HG02060 KHV EAS female
HG02061 KHV EAS male
HG02064 KHV EAS male
HG02067 KHV EAS male
HG02069 KHV EAS female
HG02070 KHV EAS male
HG02072 KHV EAS female
HG02073 KHV EAS male
HG02075 KHV EAS female
HG02076 KHV EAS male
HG02078 KHV EAS female
HG02079 KHV EAS male
HG02081 KHV EAS female
HG02082 KHV EAS male
HG02084 KHV EAS female
HG02085 KHV EAS male
HG02086 KHV EAS female
HG02087 KHV EAS female
HG02088 KHV EAS male
HG02113 KHV EAS female
HG02116 KHV EAS male
HG02121 KHV EAS female
HG02122 KHV EAS male
HG02127 KHV EAS female
HG02128 KHV EAS male
HG02130 KHV EAS female
HG02131 KHV EAS male
HG02133 KHV EAS female
HG02134 KHV EAS male
HG02136 KHV EAS female
HG02137 KHV EAS male
HG02138 KHV EAS male
HG02139 KHV EAS female
HG02140 KHV EAS female
HG02141 KHV EAS male
HG02142 KHV EAS female
HG02151 CDX EAS female
HG02152 CDX EAS female
HG02153 CDX EAS female
HG02154 CDX EAS female
HG02155 CDX EAS female
HG02156 CDX EAS female
HG02164 CDX EAS female
HG02165 CDX EAS female
HG02166 CDX EAS female
HG02178 CDX EAS female
HG02179 CDX EAS female
HG02180 CDX EAS female
HG02181 CDX EAS female
HG02182 CDX EAS female
HG02184 CDX EAS female
HG02185 CDX EAS female
HG02186 CDX EAS female
HG02187 CDX EAS female
HG02188 CDX EAS female
HG02190 CDX EAS female
HG02250 CDX EAS male
HG02351 CDX EAS male
HG02353 CDX EAS male
HG02355 CDX EAS male
HG02356 CDX EAS male
HG02360 CDX EAS male
HG02364 CDX EAS male
HG02367 CDX EAS male
HG02371 CDX EAS male
HG02373 CDX EAS male
HG02374 CDX EAS male
HG02375 CDX EAS male
HG02379 CDX EAS male
HG02380 CDX EAS male
HG02382 CDX EAS male
HG02383 CDX EAS male
HG02384 CDX EAS male
HG02385 CDX EAS male
HG02386 CDX EAS male
HG02389 CDX EAS male
HG02390 CDX EAS male
HG02391 CDX EAS male
HG02392 CDX EAS male
HG02394 CDX EAS male
HG02395 CDX EAS male
HG02396 CDX EAS male
HG02397 CDX EAS male
HG02398 CDX EAS male
HG02399 CDX EAS male
HG02401 CDX EAS male
HG02402 CDX EAS male
HG02406 CDX EAS male
HG02407 CDX EAS male
HG02408 CDX EAS male
HG02409 CDX EAS male
HG02410 CDX EAS male
HG02512 KHV EAS male
HG02513 KHV EAS female
HG02521 KHV EAS male
HG02522 KHV EAS female
NA18525 CHB EAS female
NA18526 CHB EAS female
NA18528 CHB EAS female
NA18530 CHB EAS male
NA18531 CHB EAS female
NA18532 CHB EAS female
NA18533 CHB EAS female
NA18534 CHB EAS male
NA18535 CHB EAS female
NA18536 CHB EAS male
NA18537 CHB EAS female
NA18538 CHB EAS female
NA18539 CHB EAS female
NA18541 CHB EAS female
NA18542 CHB EAS female
NA18543 CHB EAS male
NA18544 CHB EAS male
NA18545 CHB EAS female
NA18546 CHB EAS male
NA18547 CHB EAS female
NA18548 CHB EAS male
NA18549 CHB EAS male
NA18550 CHB EAS female
NA18552 CHB EAS female
NA18553 CHB EAS female
NA18555 CHB EAS female
NA18557 CHB EAS male
NA18558 CHB EAS male
NA18559 CHB EAS male
NA18560 CHB EAS female
NA18561 CHB EAS male
NA18562 CHB EAS male
NA18563 CHB EAS male
NA18564 CHB EAS female
NA18565 CHB EAS female
NA18566 CHB EAS female
NA18567 CHB EAS female
NA18570 CHB EAS female
NA18571 CHB EAS female
NA18572 CHB EAS male
NA18573 CHB EAS female
NA18574 CHB EAS female
NA18577 CHB EAS female
NA18579 CHB EAS female
NA18582 CHB EAS female
NA18591 CHB EAS female
NA18592 CHB EAS female
NA18593 CHB EAS female
NA18595 CHB EAS female
NA18596 CHB EAS female
NA18597 CHB EAS female
NA18599 CHB EAS female
NA18602 CHB EAS female
NA18603 CHB EAS male
NA18605 CHB EAS male
NA18606 CHB EAS male
NA18608 CHB EAS male
NA18609 CHB EAS male
NA18610 CHB EAS female
NA18611 CHB EAS male
NA18612 CHB EAS male
NA18613 CHB EAS male
NA18614 CHB EAS female
NA18615 CHB EAS female
NA18616 CHB EAS female
NA18617 CHB EAS female
NA18618 CHB EAS female
NA18619 CHB EAS female
NA18620 CHB EAS male
NA18621 CHB EAS male
NA18622 CHB EAS male
NA18623 CHB EAS male
NA18624 CHB EAS male
NA18625 CHB EAS female
NA18626 CHB EAS female
NA18627 CHB EAS female
NA18628 CHB EAS female
NA18629 CHB EAS male
NA18630 CHB EAS female
NA18631 CHB EAS female
NA18632 CHB EAS male
NA18633 CHB EAS male
NA18634 CHB EAS female
NA18635 CHB EAS male
NA18636 CHB EAS male
NA18637 CHB EAS male
NA18638 CHB EAS male
NA18639 CHB EAS male
NA18640 CHB EAS female
NA18641 CHB EAS female
NA18642 CHB EAS female
NA18643 CHB EAS male
NA18644 CHB EAS female
NA18645 CHB EAS male
NA18646 CHB EAS female
NA18647 CHB EAS male
NA18648 CHB EAS male
NA18740 CHB EAS male
NA18745 CHB EAS male
NA18747 CHB EAS male
NA18748 CHB EAS male
NA18749 CHB EAS male
NA18757 CHB EAS male
NA18939 JPT EAS female
NA18940 JPT EAS male
NA18941 JPT EAS female
NA18942 JPT EAS female
NA18943 JPT EAS male
NA18944 JPT EAS male
NA18945 JPT EAS male
NA18946 JPT EAS female
NA18947 JPT EAS female
NA18948 JPT EAS male
NA18949 JPT EAS female
NA18950 JPT EAS female
NA18951 JPT EAS female
NA18952 JPT EAS male
NA18953 JPT EAS male
NA18954 JPT EAS female
NA18956 JPT EAS female
NA18957 JPT EAS female
NA18959 JPT EAS male
NA18960 JPT EAS male
NA18961 JPT EAS male
NA18962 JPT EAS male
NA18963 JPT EAS female
NA18964 JPT EAS female
NA18965 JPT EAS male
NA18966 JPT EAS male
NA18967 JPT EAS male
NA18968 JPT EAS female
NA18969 JPT EAS female
NA18970 JPT EAS male
NA18971 JPT EAS male
NA18972 JPT EAS female
NA18973 JPT EAS female
NA18974 JPT EAS male
NA18975 JPT EAS female
NA18976 JPT EAS female
NA18977 JPT EAS male
NA18978 JPT EAS female
NA18979 JPT EAS female
NA18980 JPT EAS female
NA18981 JPT EAS female
NA18982 JPT EAS male
NA18983 JPT EAS male
NA18984 JPT EAS male
NA18985 JPT EAS male
NA18986 JPT EAS male
NA18987 JPT EAS female
NA18988 JPT EAS male
NA18989 JPT EAS male
NA18990 JPT EAS male
NA18991 JPT EAS female
NA18992 JPT EAS female
NA18993 JPT EAS female
NA18994 JPT EAS male
NA18995 JPT EAS male
NA18997 JPT EAS female
NA18998 JPT EAS female
NA18999 JPT EAS female
NA19000 JPT EAS male
NA19001 JPT EAS female
NA19002 JPT EAS female
NA19003 JPT EAS female
NA19004 JPT EAS male
NA19005 JPT EAS male
NA19006 JPT EAS male
NA19007 JPT EAS male
NA19009 JPT EAS male
NA19010 JPT EAS female
NA19011 JPT EAS female
NA19012 JPT EAS male
NA19054 JPT EAS female
NA19055 JPT EAS male
NA19056 JPT EAS male
NA19057 JPT EAS female
NA19058 JPT EAS male
NA19059 JPT EAS female
NA19060 JPT EAS male
NA19062 JPT EAS male
NA19063 JPT EAS male
NA19064 JPT EAS female
NA19065 JPT EAS female
NA19066 JPT EAS male
NA19067 JPT EAS male
NA19068 JPT EAS male
NA19070 JPT EAS male
NA19072 JPT EAS male
NA19074 JPT EAS female
NA19075 JPT EAS male
NA19076 JPT EAS male
NA19077 JPT EAS female
NA19078 JPT EAS female
NA19079 JPT EAS male
NA19080 JPT EAS female
NA19081 JPT EAS female
NA19082 JPT EAS male
NA19083 JPT EAS male
NA19084 JPT EAS female
NA19085 JPT EAS male
NA19086 JPT EAS male
NA19087 JPT EAS female
NA19088 JPT EAS male
NA19089 JPT EAS male
NA19090 JPT EAS female
NA19091 JPT EAS male