ID POP GROUP SEX
HG01583 PJL SAS male
HG01586 PJL SAS male
HG01589 PJL SAS male
HG01593 PJL SAS female
HG02490 PJL SAS male
HG02491 PJL SAS female
HG02493 PJL SAS male
HG02494 PJL SAS female
HG02597 PJL SAS male
HG02600 PJL SAS male
HG02601 PJL SAS female
HG02603 PJL SAS male
HG02604 PJL SAS female
HG02648 PJL SAS male
HG02649 PJL SAS female
HG02651 PJL SAS male
HG02652 PJL SAS female
HG02654 PJL SAS male
HG02655 PJL SAS female
HG02657 PJL SAS male
HG02658 PJL SAS female
HG02660 PJL SAS male
HG02661 PJL SAS female
HG02681 PJL SAS male
HG02682 PJL SAS female
HG02684 PJL SAS male
HG02685 PJL SAS female
HG02687 PJL SAS male
HG02688 PJL SAS female
HG02690 PJL SAS male
HG02691 PJL SAS female
HG02694 PJL SAS female
HG02696 PJL SAS male
HG02697 PJL SAS female
HG02699 PJL SAS male
HG02700 PJL SAS female
HG02724 PJL SAS male
HG02725 PJL SAS female
HG02727 PJL SAS male
HG02728 PJL SAS female
HG02731 PJL SAS female
HG02733 PJL SAS male
HG02734 PJL SAS female
HG02736 PJL SAS male
HG02737 PJL SAS female
HG02774 PJL SAS male
HG02775 PJL SAS female
HG02778 PJL SAS female
HG02780 PJL SAS male
HG02783 PJL SAS male
HG02784 PJL SAS female
HG02786 PJL SAS male
HG02787 PJL SAS female
HG02789 PJL SAS male
HG02790 PJL SAS female
HG02792 PJL SAS male
HG02793 PJL SAS female
HG03006 BEB SAS male
HG03007 BEB SAS female
HG03009 BEB SAS male
HG03012 BEB SAS male
HG03015 PJL SAS male
HG03016 PJL SAS female
HG03018 PJL SAS male
HG03019 PJL SAS female
HG03021 PJL SAS male
HG03022 PJL SAS female
HG03228 PJL SAS male
HG03229 PJL SAS female
HG03234 PJL SAS male
HG03235 PJL SAS female
HG03237 PJL SAS male
HG03238 PJL SAS female
HG03488 PJL SAS female
HG03490 PJL SAS male
HG03491 PJL SAS female
HG03585 BEB SAS male
HG03589 BEB SAS female
HG03593 BEB SAS male
HG03594 BEB SAS male
HG03595 BEB SAS female
HG03598 BEB SAS female
HG03600 BEB SAS male
HG03603 BEB SAS male
HG03604 BEB SAS female
HG03607 BEB SAS female
HG03611 BEB SAS female
HG03615 BEB SAS male
HG03616 BEB SAS female
HG03619 PJL SAS female
HG03624 PJL SAS male
HG03625 PJL SAS female
HG03629 PJL SAS male
HG03631 PJL SAS female
HG03634 PJL SAS female
HG03636 PJL SAS male
HG03640 PJL SAS female
HG03642 STU SAS female
HG03643 STU SAS female
HG03644 STU SAS male
HG03645 STU SAS female
HG03646 STU SAS male
HG03649 PJL SAS male
HG03652 PJL SAS male
HG03653 PJL SAS female
HG03660 PJL SAS male
HG03663 PJL SAS male
HG03667 PJL SAS male
HG03668 PJL SAS female
HG03672 STU SAS male
HG03673 STU SAS female
HG03679 STU SAS male
HG03680 STU SAS male
HG03681 STU SAS male
HG03684 STU SAS female
HG03685 STU SAS male
HG03686 STU SAS male
HG03687 STU SAS male
HG03689 STU SAS female
HG03690 STU SAS female
HG03691 STU SAS male
HG03692 STU SAS female
HG03693 STU SAS male
HG03694 STU SAS male
HG03695 STU SAS male
HG03696 STU SAS male
HG03697 STU SAS male
HG03698 STU SAS female
HG03702 PJL SAS male
HG03703 PJL SAS female
HG03705 PJL SAS male
HG03706 PJL SAS female
HG03708 PJL SAS male
HG03709 PJL SAS female
HG03711 STU SAS male
HG03713 ITU SAS male
HG03714 ITU SAS female
HG03716 ITU SAS male
HG03717 ITU SAS female
HG03718 ITU SAS male
HG03720 ITU SAS male
HG03722 ITU SAS female
HG03727 ITU SAS male
HG03729 ITU SAS male
HG03730 ITU SAS female
HG03731 ITU SAS female
HG03733 STU SAS female
HG03736 STU SAS female
HG03738 STU SAS male
HG03740 STU SAS male
HG03741 STU SAS female
HG03742 ITU SAS male
HG03743 STU SAS male
HG03744 STU SAS male
HG03745 STU SAS male
HG03746 STU SAS male
HG03750 STU SAS male
HG03752 STU SAS female
HG03753 STU SAS male
HG03754 STU SAS female
HG03755 STU SAS male
HG03756 STU SAS female
HG03757 STU SAS female
HG03760 STU SAS female
HG03762 PJL SAS female
HG03765 PJL SAS female
HG03767 PJL SAS male
HG03770 ITU SAS female
HG03771 ITU SAS male
HG03772 ITU SAS female
HG03773 ITU SAS male
HG03774 ITU SAS female
HG03775 ITU SAS male
HG03777 ITU SAS male
HG03778 ITU SAS male
HG03779 ITU SAS male
HG03780 ITU SAS female
HG03781 ITU SAS female
HG03782 ITU SAS female
HG03784 ITU SAS female
HG03785 ITU SAS male
HG03786 ITU SAS male
HG03787 ITU SAS female
HG03788 ITU SAS male
HG03789 ITU SAS female
HG03790 ITU SAS male
HG03792 ITU SAS male
HG03793 BEB SAS female
HG03796 BEB SAS female
HG03800 BEB SAS male
HG03802 BEB SAS female
HG03803 BEB SAS male
HG03805 BEB SAS female
HG03808 BEB SAS female
HG03809 BEB SAS male
HG03812 BEB SAS male
HG03814 BEB SAS female
HG03815 BEB SAS male
HG03817 BEB SAS female
HG03821 BEB SAS male
HG03823 BEB SAS female
HG03824 BEB SAS male
HG03826 BEB SAS female
HG03829 BEB SAS female
HG03830 BEB SAS male
HG03832 BEB SAS female
HG03833 BEB SAS male
HG03836 STU SAS female
HG03837 STU SAS male
HG03838 STU SAS female
HG03844 STU SAS male
HG03846 STU SAS male
HG03848 STU SAS male
HG03849 STU SAS female
HG03850 STU SAS male
HG03851 STU SAS male
HG03854 STU SAS male
HG03856 STU SAS male
HG03857 STU SAS female
HG03858 STU SAS female
HG03861 ITU SAS female
HG03862 ITU SAS female
HG03863 ITU SAS female
HG03864 ITU SAS male
HG03866 ITU SAS male
HG03867 ITU SAS male
HG03868 ITU SAS female
HG03869 ITU SAS male
HG03870 ITU SAS male
HG03871 ITU SAS male
HG03872 ITU SAS male
HG03873 ITU SAS female
HG03874 ITU SAS female
HG03875 ITU SAS male
HG03882 ITU SAS female
HG03884 STU SAS female
HG03885 STU SAS male
HG03886 STU SAS female
HG03887 STU SAS male
HG03888 STU SAS female
HG03890 STU SAS male
HG03894 STU SAS female
HG03895 STU SAS female
HG03896 STU SAS male
HG03897 STU SAS female
HG03898 STU SAS female
HG03899 STU SAS male
HG03900 STU SAS male
HG03902 BEB SAS male
HG03905 BEB SAS male
HG03907 BEB SAS female
HG03908 BEB SAS male
HG03910 BEB SAS female
HG03911 BEB SAS male
HG03913 BEB SAS female
HG03914 BEB SAS male
HG03916 BEB SAS female
HG03917 BEB SAS male
HG03919 BEB SAS female
HG03920 BEB SAS male
HG03922 BEB SAS female
HG03925 BEB SAS female
HG03926 BEB SAS male
HG03928 BEB SAS female
HG03931 BEB SAS female
HG03934 BEB SAS female
HG03937 BEB SAS female
HG03940 BEB SAS female
HG03941 BEB SAS male
HG03943 STU SAS male
HG03944 STU SAS female
HG03945 STU SAS female
HG03947 STU SAS female
HG03949 STU SAS female
HG03950 STU SAS male
HG03951 STU SAS female
HG03953 STU SAS male
HG03955 STU SAS female
HG03960 ITU SAS male
HG03963 ITU SAS male
HG03965 ITU SAS male
HG03967 ITU SAS male
HG03968 ITU SAS female
HG03969 ITU SAS male
HG03971 ITU SAS male
HG03973 ITU SAS female
HG03974 ITU SAS male
HG03976 ITU SAS male
HG03977 ITU SAS female
HG03978 ITU SAS male
HG03985 STU SAS male
HG03986 STU SAS female
HG03989 STU SAS female
HG03990 STU SAS male
HG03991 STU SAS male
HG03995 STU SAS female
HG03998 STU SAS male
HG03999 STU SAS male
HG04001 ITU SAS female
HG04002 ITU SAS male
HG04003 STU SAS male
HG04006 STU SAS male
HG04014 ITU SAS female
HG04015 ITU SAS male
HG04017 ITU SAS male
HG04018 ITU SAS female
HG04019 ITU SAS male
HG04020 ITU SAS male
HG04022 ITU SAS male
HG04023 ITU SAS male
HG04025 ITU SAS female
HG04026 ITU SAS female
HG04029 STU SAS female
HG04033 STU SAS male
HG04035 STU SAS female
HG04038 STU SAS female
HG04039 STU SAS male
HG04042 STU SAS female
HG04047 STU SAS female
HG04054 ITU SAS female
HG04056 ITU SAS male
HG04059 ITU SAS female
HG04060 ITU SAS male
HG04061 ITU SAS male
HG04062 ITU SAS female
HG04063 ITU SAS female
HG04070 ITU SAS female
HG04075 STU SAS female
HG04076 ITU SAS female
HG04080 ITU SAS male
HG04090 ITU SAS female
HG04093 ITU SAS male
HG04094 ITU SAS male
HG04096 ITU SAS male
HG04098 ITU SAS male
HG04099 STU SAS female
HG04100 STU SAS male
HG04106 STU SAS female
HG04107 STU SAS male
HG04118 ITU SAS female
HG04131 BEB SAS male
HG04134 BEB SAS male
HG04140 BEB SAS male
HG04141 BEB SAS female
HG04144 BEB SAS female
HG04146 BEB SAS male
HG04152 BEB SAS male
HG04153 BEB SAS female
HG04155 BEB SAS male
HG04156 BEB SAS female
HG04158 BEB SAS male
HG04159 BEB SAS female
HG04161 BEB SAS male
HG04162 BEB SAS female
HG04164 BEB SAS male
HG04171 BEB SAS female
HG04173 BEB SAS male
HG04176 BEB SAS male
HG04177 BEB SAS female
HG04180 BEB SAS female
HG04182 BEB SAS male
HG04183 BEB SAS female
HG04185 BEB SAS male
HG04186 BEB SAS female
HG04188 BEB SAS male
HG04189 BEB SAS female
HG04194 BEB SAS male
HG04195 BEB SAS female
HG04198 ITU SAS male
HG04200 ITU SAS female
HG04202 ITU SAS female
HG04206 ITU SAS male
HG04209 ITU SAS female
HG04210 STU SAS male
HG04211 ITU SAS male
HG04212 ITU SAS female
HG04214 ITU SAS female
HG04216 ITU SAS female
HG04219 ITU SAS male
HG04222 ITU SAS male
HG04225 ITU SAS male
HG04227 STU SAS female
HG04229 STU SAS male
HG04235 ITU SAS male
HG04238 ITU SAS male
HG04239 ITU SAS male
NA20845 GIH SAS male
NA20846 GIH SAS male
NA20847 GIH SAS female
NA20849 GIH SAS female
NA20850 GIH SAS male
NA20851 GIH SAS female
NA20852 GIH SAS male
NA20853 GIH SAS female
NA20854 GIH SAS female
NA20856 GIH SAS female
NA20858 GIH SAS male
NA20859 GIH SAS female
NA20861 GIH SAS male
NA20862 GIH SAS female
NA20863 GIH SAS male
NA20864 GIH SAS male
NA20866 GIH SAS male
NA20867 GIH SAS male
NA20868 GIH SAS female
NA20869 GIH SAS female
NA20870 GIH SAS male
NA20872 GIH SAS female
NA20874 GIH SAS female
NA20875 GIH SAS female
NA20876 GIH SAS female
NA20877 GIH SAS female
NA20878 GIH SAS female
NA20881 GIH SAS female
NA20882 GIH SAS female
NA20884 GIH SAS male
NA20885 GIH SAS male
NA20886 GIH SAS female
NA20887 GIH SAS male
NA20888 GIH SAS female
NA20889 GIH SAS male
NA20890 GIH SAS male
NA20891 GIH SAS male
NA20892 GIH SAS female
NA20894 GIH SAS female
NA20895 GIH SAS male
NA20896 GIH SAS female
NA20897 GIH SAS male
NA20899 GIH SAS female
NA20900 GIH SAS female
NA20901 GIH SAS male
NA20902 GIH SAS female
NA20903 GIH SAS male
NA20904 GIH SAS male
NA20905 GIH SAS male
NA20906 GIH SAS female
NA20908 GIH SAS female
NA20910 GIH SAS female
NA20911 GIH SAS male
NA21086 GIH SAS female
NA21087 GIH SAS male
NA21088 GIH SAS female
NA21089 GIH SAS female
NA21090 GIH SAS male
NA21091 GIH SAS male
NA21092 GIH SAS male
NA21093 GIH SAS male
NA21094 GIH SAS male
NA21095 GIH SAS male
NA21097 GIH SAS female
NA21098 GIH SAS male
NA21099 GIH SAS male
NA21100 GIH SAS male
NA21101 GIH SAS female
NA21102 GIH SAS female
NA21103 GIH SAS female
NA21104 GIH SAS male
NA21105 GIH SAS male
NA21106 GIH SAS female
NA21107 GIH SAS male
NA21108 GIH SAS female
NA21109 GIH SAS male
NA21110 GIH SAS female
NA21111 GIH SAS male
NA21112 GIH SAS male
NA21113 GIH SAS male
NA21114 GIH SAS male
NA21115 GIH SAS male
NA21116 GIH SAS male
NA21117 GIH SAS male
NA21118 GIH SAS male
NA21119 GIH SAS male
NA21120 GIH SAS female
NA21122 GIH SAS female
NA21123 GIH SAS male
NA21124 GIH SAS male
NA21125 GIH SAS female
NA21126 GIH SAS male
NA21127 GIH SAS male
NA21128 GIH SAS male
NA21129 GIH SAS male
NA21130 GIH SAS male
NA21133 GIH SAS male
NA21135 GIH SAS male
NA21137 GIH SAS female
NA21141 GIH SAS female
NA21142 GIH SAS female
NA21143 GIH SAS female
NA21144 GIH SAS female